@model IEnumerable<Motos_Motores.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ventas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ventas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
           
        </tr>
}
    </tbody>
</table>
